.btn{
    background-color: transparent;
    border: none;
   border-radius:  4px;
   padding: 10px;
   padding-top: 8px;
   text-align: center;
   color: #FEB139;
   background: #143F68;
   cursor: pointer;
   margin: 5px;
}